
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #E6F7FF;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; /* Reduced padding for a thinner header */
    background-color: #007BFF;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .back-button {
    background-color: #007BFF;
    color: white;
    font-size: 2em; /* Doubled font size */
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjusted width */
    height: 40px; /* Adjusted height */
}

.header h1 {
    font-size: 16px; /* Optionally reduce the font size if it still appears too large */
}

.header .menu {
    font-size: 1.5em; /* Increased font size */
    margin-right: 20px;
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.close-button {
    position: absolute;
    top: 10px; /* 버튼을 상단에 위치시킵니다 */
    right: 10px; /* 버튼을 우측에 위치시킵니다 */
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.side-menu {
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    color: black;
    right: -40%; /* 메뉴가 화면 밖에 위치하도록 함 */
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease; /* 애니메이션 효과 */
}

.side-menu.active {
    right: 0; /* 메뉴가 화면 안으로 들어오도록 함 */
}
.side-menu ul {
    list-style-type: none; /* 기본 마커 제거 */
    padding: 0;
    margin: 0;
}
.side-menu li {
    padding: 10px; /* 각 항목의 패딩 추가 */
    border-bottom: 1px solid #ccc; /* 구분선 추가 */
}

.logo {
    margin-bottom: 30px;
    font-size: 200%;
}
